# Pandas - Series

In [2]:
import numpy as np

In [6]:
import pandas as pd

In [8]:
# help(pd.series)

In [22]:
myIndex = ['USA','CANADA','FRANCE','MEXICO']

In [12]:
myData = ['1776-07-04', '1867-07-01', '843-10-03', '1810-09-16']

In [24]:
serie = pd.Series(data = myData, index = myIndex)

In [26]:
serie

USA       1776-07-04
CANADA    1867-07-01
FRANCE     843-10-03
MEXICO    1810-09-16
dtype: object

In [18]:
type(serie)

pandas.core.series.Series

In [28]:
serie['USA']

'1776-07-04'

In [36]:
ages = {'Sam':5,'Eleanor':52,'Rafa':30}

In [40]:
pd.Series(ages)

Sam         5
Eleanor    52
Rafa       30
dtype: int64

In [46]:
# Imaginary Sales Data for 1st and 2nd Quarters for Global Company
q1 = {'Japan': 80, 'China': 450, 'India': 200, 'USA': 250}
q2 = {'Brazil': 100,'China': 500, 'India': 210,'USA': 260}

In [50]:
sales_q1 = pd.Series(q1)

In [52]:
sales_q2 = pd.Series(q2)

In [54]:
sales_q1

Japan     80
China    450
India    200
USA      250
dtype: int64

In [56]:
sales_q1

Japan     80
China    450
India    200
USA      250
dtype: int64

In [60]:
sales_q1.keys()

Index(['Japan', 'China', 'India', 'USA'], dtype='object')

In [62]:
sales_q1['Japan']

80

In [64]:
sales_q1/100

Japan    0.8
China    4.5
India    2.0
USA      2.5
dtype: float64

In [66]:
sales_q1 + sales_q2

Brazil      NaN
China     950.0
India     410.0
Japan       NaN
USA       510.0
dtype: float64

In [68]:
sales_q1.add(sales_q2,fill_value = 0)

Brazil    100.0
China     950.0
India     410.0
Japan      80.0
USA       510.0
dtype: float64